# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

build*/
cmake*/
.idea/
.vscode/

# Debian packaging artifacts
debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/tmp/
debian/*.substvars
debian/*.debhelper.log
debian/servicedeck/
*.build
*.buildinfo
*.changes
*.deb
*.ddeb
*.tar.xz
*.dsc
obj-*/
build/